---
title: "Pi Dashboard"
logo: "assets/logo.png"

connectivityCheck: false

header: false
footer: ""

defaults:
  layout: list
  colorTheme: dark

services:
  - name: "Services"
    icon: "fas fa-concierge-bell"
    items:
    {% for service in services %}

      - name: "{{ service }}"
        logo: "assets/{{ service | lower }}.png"
        url: "https://{{ service }}.local"
 
    {% endfor %}